{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Profile</title>
{% endblock %}
{% block content %}
<div class="container">
    <h3 class="white-important">
    </h3>
    <form class="col-6 no-padding" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       Welcome {{ request.user.username }}
        <fieldset class="form-group">
            {{ pform | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Update</button>
        </div>
    </form>
   
{% endblock %}